.dropdown-menu{
    position: absolute;
    background-color: #fff;
    padding: 10px;
  }
  li{
    list-style: none;
    padding: 10px;
  }
  .dropdown-menu ul li:hover{
    color: black;
    cursor: pointer;
  }
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
  }
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
  }
  