.link {
    color: #000;
    text-decoration: none;
    padding: 25px 40px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: none;
  }
  .tim-style {
    text-decoration: none;
    font-size: 20px;
  }
  .dropdown-menu-style {
    padding: 10px 25px;
    border: none;
  }

  @media all and (max-width: 500px) {
  .link {
    padding: 2px;
    font-size: 15px;
  }
  .dropdown-menu-style {
    padding: 5px 15px;
    border: none;
  }
  .tim-style {
    font-size: 15px;
  }
  }

