.link {
    color: #000;
    text-decoration: none;
    padding: 25px 30px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: none;
  }
  :hover.link {
    color: #27B470;
  }
  .tim-style {
    text-decoration: none;
    font-size: 15px;
  }
  .dropdown-menu-style {
    padding: 10px 25px;
    border: none;
  }
  @media all and (max-width: 1280px) {
  .tim-style {
    text-decoration: none;
    font-size: 15px;
  }
  .link {
    font-size: 15px;
    padding: 20px 20px;
  }
  }
  @media all and (max-width: 1024px) {
    .link {
      font-size: 13px;
      padding: 20px 20px;
    }
  }
  @media all and (max-width: 800px) {
    .link {
      margin-top: 10px;
      padding: 5px;
      font-size: 15px;
      color: #fff;
    }
    .dropdown-menu-style {
      padding: 5px 15px;
      border: none;
    }
    .tim-style {
      font-size: 15px;
    }
    }
  @media all and (max-width: 500px) {
  .link {
    margin-top: 5px;
    padding: 3px;
    font-size: 15px;
    color: #fff;
  }
  .dropdown-menu-style {
    padding: 5px 15px;
    border: none;
  }
  .tim-style {
    font-size: 15px;
  }
  }

