.rekli-header {
    font-family: "Gruppo", sans-serif;
    font-size: 45px;
    margin-top: 70px;
    text-align: center;
}
.rekli-all-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    margin-top: 50px;
}
.rekli-card {
    width: 400px;
    background-color: #78c795; 
    /* background: radial-gradient(circle at 1.8% 4.8%, rgb(128, 201, 155) 0%, rgb(48, 182, 117) 100%);  */
    padding: 2%;
    flex-basis: auto;
    margin: 50px;
    border-radius: 10px;
}
.rekli-name {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
.rekli-posao {
    margin-left: 15px;
}
.rekli-text {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 20px;
}