.rekli-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin-top: 5git0px;
    margin-bottom: 30px;
    text-align: center;
}
.rekli-all-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 100px;
    /* background-color: #78c795; */
}
.rekli-card {
    width: 400px;
    background-color: #78c795;
    color: #fff;
    /* background: radial-gradient(circle at 1.8% 4.8%, rgb(128, 201, 155) 0%, rgb(48, 182, 117) 100%);  */
    padding: 2%;
    flex-basis: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #999999
}
.rekli-name {
    display: flex;
    font-family: "Montserrat", sans-serif;
}
.rekli-posao {
    margin-left: 15px;
}
.rekli-text {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin-top: 20px;
}