.container {
    margin: 0px 200px;  
}
.tim-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin-top: 30px;
}
.tim-hr {
    margin-right: 200px;
}
.tim-hr-two {
    margin-right: 200px;
    margin-top: 50px;
}
.tim-card {
    margin-top: 20px;
}
.tim-par {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center;
}
.tim-btn {
    padding: 10px 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background-color: #78c795;
    box-shadow: 5px 5px 5px #C4C4C4;
    border-radius: 10px;
    border: none;
    margin: 0px 50px;
}
:hover.tim-btn {
    border: 1px solid #78c795;
    background-color: #27B470;
  } 
.tim-text {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.featurette-heading {
    text-align: center;
    margin: 50px 60px 0px 0px;
}
.lead {
    text-align: center;
    margin: 0px 80px;
}
.tim-form {
    display: flex;
    flex-direction: column;
    
}
.tim-input {
    margin: 10px 80px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.tim-form-box {
    display: flex; 
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 30px 0px;
    margin: 0px 50px 100px 0px;
    border-radius: 10px;
}
.tim-slika {
    margin-top: 100px;
}
.tim-bottom-container {
    display: flex;
    margin-right: 150px;
}
.thanks{
    color:#27B470; 
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}
@media all and (max-width: 500px) {
    .container {
        margin: auto;  
    }
    .tim-header {
        font-size: 25px;
        text-align: center;
    }
    .tim-bottom-container {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .tim-slika {
        margin: 10px;
        width: 19rem;
    }
    .tim-hr-two, .tim-hr {
        margin: 0px 20px;
    }
    .featurette-heading {
        font-size: 22px;
        width: 100%;
        margin-top: 0;
    }
    .tim-form-box {
        padding: 30px 0px;
        margin: 0px 0px 0px 0px;
    }
    .lead {
        font-size: 15px;
        margin: 0px 60px 20px;
    }
    .tim-btn {
        margin-top: 10px;
        font-size: 18px;
    }
    .tim-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .thanks {
        font-size: 25px;
    }

}


