.formspree {
    display: flex;
    flex-direction: column;
}
.formspree-input {
    background-color: #F5F5F5;
    border: none;
    width: 100%;
    padding: 20px 40px;
    margin-top: 50px;
    border-radius: 20px;
    font-family: "Gruppo", sans-serif;
    font-size: 20px;
}
.formspree-btn {
    padding: 30px;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 40px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #27B470;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(120, 199, 149) 0%, rgb(39, 180, 112) 90%);
    box-shadow: 10px 5px 5px #C4C4C4;
    opacity: 0.9;
}
:hover.formspree-btn {
    color: #fff;
    border: 1px solid #78c795;
    background-color: #78c795;
}
.handle-submit {
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
}