.image-hands {
    border-radius: 10px;
    width: 650px;
    height: 650px;
    margin-right: 100px;
    box-shadow: 8px 5px 5px #C4C4C4;
}
.onama {
    display: flex;
}
.box-onama-text {
margin: 0px 100px 0px 100px;
}
.onama-text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.onama-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border: none;
    background-color: #fff;
    color: #27B470;
}
.onama-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin: 50px 0px;
}
.green-header {
    color: #27B470;
}
@media all and (max-width: 1000px) {
.image-hands {
    width: 500px;
}
}