.onama-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin: 30px 100px 20px 0px;
}
.image-hands {
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin-right: 100px;
    box-shadow: 8px 5px 5px #C4C4C4;
}
.onama {
    display: flex;
    margin-left: 50px;
}
.box-onama-text {
margin: 0px 50px 0px 100px;
}
.onama-text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-right: 40px;
}
.onama-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border: none;
    background-color: #fff;
    color: #27B470;
}
.green-header {
    color: #27B470;
}
@media all and (max-width: 1000px) {
.image-hands {
    width: 200px;
    height: 300px;
}
}
@media all and (max-width: 500px) {
    /* .image-hands {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
    }  */
    .image-hands {
        display: none;
    }
    .onama {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px;
    }
    .onama-header {
        font-family: "Gruppo", sans-serif;
        font-size: 25px;
        width: 100%;
        margin: 0px 10px 20px 10px;
    }
    .onama-text {
        font-size: 12px;
        margin: 0px;
    }
    .box-onama-text {
        width: 300px;
        margin: 0px;
    }
    .onama-btn {
    font-size: 15px;
    }
}