.projekti-container {
    min-height: 100vh;
}
.project-header {
    font-family: "Gruppo", sans-serif;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
}
.vjesti-all {
    display: flex;
    flex-wrap: wrap;
}
.vjesti-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 2%;
    box-shadow: 5px 5px 5px #dddddd
}
.first-project {
    display: flex;
    flex-wrap: wrap;
}
.second-project {
    display: flex;
    flex-wrap: wrap;
}
.third-project {
    display: flex;
    flex-wrap: wrap;
}
.vjesti-title {
    font-family: "Gruppo", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px;
}
.img-news {
    max-width: 100%;
    height: auto;
}
.vjesti-description {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
.vjesti-par {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-top: auto;
}
.vjesti-show {
    color: #27B470;
}
.vjesti-link {
    text-decoration: none;
    color: #27B470;
}
.invisible-btn{
border: none;
background-color: #fff;
} 
.test-scroll{
    display: flex;
    flex-direction: column;
}
@media all and (max-width: 1400px) {
    .vjesti-card {
        width: 500px;
    }
}
@media all and (max-width: 1280px) {
    .vjesti-card {
        width: 33%;
    }
}
@media all and (max-width: 1024px) {    
    .vjesti-header {
        font-size: 30px;
    }    
    }
    @media all and (max-width: 800px) {
        .vjesti-header {
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 10px;
        }    
        .vjesti-card {
            width: 100%;
        }
        .vjesti-show {
            font-size: 12px;
        }
        .vjesti-par {
            font-size: 15px;
        }
        .vjesti-link {
            font-size: 13px;
        }  
        }
@media all and (max-width: 500px) {
.vjesti-header {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}    
.vjesti-title {
    font-size: 18px;
    margin: 20px 20px;
}
.vjesti-card {
    width: 100%;
}
.vjesti-title {
    font-size: 20px;
}
.vjesti-description {
    font-size: 12px;
}
.vjesti-show {
    font-size: 12px;
}
.vjesti-par {
    font-size: 13px;
}
.vjesti-link {
    font-size: 13px;
}
}
