.projekti-header {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 80px 0px 30px;
  text-align: center;
}
.carousel {
  display: flex;
  width: 70%;
  height: 100vh;
}
.carousel-box {
  background-color: #D9D9D9;
  border-radius: 10px;
  opacity: 0.6;
  margin-bottom: 450px;
  padding: 10px;
}
.carousel-text {
  color: #000;
}
.projekti-bg {
  background-color: #f5f5f5;
  height: 750px;
  padding-top: 80px;
}
.projecti-img {
  height: 600px;

}