.partneri-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin-top: 70px;
    text-align: center;
}
.partneri-all-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    margin: 30px 0px;
}
.partneri-card {
    display: flex;
    align-self: center;
    margin: 20px 30px;
}
.partneri-par {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0px 200px;
}