.vjesti-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}
.vjesti-three-all {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
} 
.vjesti-three-card {
    width: 400px;
    padding: 2%;
    flex-grow: 1;
}
.three-vjesti-title {
    font-family: "Gruppo", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px;
}


.img-three-vjesti {
    max-width: 100%;
    height: auto;
}
.vjesti-description {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
.vjesti-par {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.allVjesti-btn {
    background-color: #f5f5f5;
    display: flex;
    color: #27B470;
    text-decoration: none;
    padding: 0px 0px 30px 250px;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
:hover.allVjesti-btn{
    color: #000;
}
.vjesti-show {
    color: #27B470;
}
.invisible-btn{
border: none;
background-color: #fff;
} 
.test-scroll{
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 1400px) {
    .vjesti-three-card {
        width: 500px;
    }
}
/* @media all and (max-width: 1280px) {
    .vjesti-card {
        width: 400px;
    }
} */
@media all and (max-width: 1024px) {    
    .vjesti-header {
        font-size: 30px;
    }    
    .vjesti-three-card {
        width: 290px;
    }
    .three-vjesti-title {
        font-size: 18px;
    }
    .allVjesti-btn {
        font-size: 20px;
        margin: auto;
    } 
    
    }
    @media all and (max-width: 800px) {
        .vjesti-header {
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 10px;
        }    
        .vjesti-three-card {
            flex-grow: 2;
        }
        .three-vjesti-title {
            font-size: 18px;
        }
        .vjesti-show {
            font-size: 12px;
        }
        .vjesti-par {
            font-size: 15px;
        }
        .allVjesti-btn {
        justify-content: center;
        padding: 0px 0px 30px 0px;
        font-size: 18px;
        margin: auto;
        }    
        }
@media all and (max-width: 500px) {
.vjesti-header {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
} 
.allVjesti-btn {
    justify-content: center;
    padding: 0px 0px 30px 0px;
}   
.vjesti-three-all {
    flex-direction: column;
    align-items: center;
}
.three-vjesti-title {
    font-size: 18px;
}
.vjesti-title {
    font-size: 18px;
    margin: 20px 20px;
}
.vjesti-title {
    font-size: 20px;
}
.vjesti-description {
    font-size: 12px;
}
.vjesti-show {
    font-size: 12px;
}
.vjesti-par {
    font-size: 13px;
}
}
