.vjesti-header {
    font-family: "Gruppo", sans-serif;
    font-size: 45px;
    margin-top: 70px;
    text-align: center;
}
.vjesti-all {
    display: flex;
    flex-wrap: wrap;
}
.vjesti-three-all {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    margin-top: 50px;
}
.vjesti-card {
    width: 500px;
    padding: 2%;
    flex-basis: auto;
    box-shadow: 5px 5px 5px #dddddd
}
.vjesti-three-card {
    width: 500px;
    padding: 2%;
    flex-basis: auto;
    margin-right: auto;
}
.vjesti-title {
    font-family: "Gruppo", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px;
    
}
.vjesti-description {
    /* height: 205px;
    overflow: auto; */
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
.vjesti-btn {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #78c795;
    box-shadow: 5px 5px 5px #C4C4C4;
    border-radius: 10px;
    border: none;
    padding: 25px 40px;
    margin: 0px 50px 20px 0px;
    height: 5px;
    display: flex;
    align-items: center;
}
:hover.vjesti-btn {
    border: 1px solid #78c795;
    background-color: #27B470;
}
.vjesti-par {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.allVjesti-btn {
    background-color: #f5f5f5;
    display: flex;
    color: #27B470;
    text-decoration: none;
    padding: 0px 0px 30px 150px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
:hover.allVjesti-btn{
    color: #000;
}
.vjesti-show {
    color: #27B470;
}
.vjesti-link {
    text-decoration: none;
    color: #27B470;
}
  
  