.vjesti-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}
.vjesti-all {
    display: flex;
    flex-wrap: wrap;
}
.vjesti-three-all {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}
.vjesti-card {
    width: 500px;
    padding: 2%;
    flex-basis: auto;
    box-shadow: 5px 5px 5px #dddddd
}
.vjesti-three-card {
    width: 500px;
    padding: 2%;
    flex-basis: auto;
    margin-right: auto;
}
.three-vjesti-title {
    font-family: "Gruppo", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px;
}
.vjesti-title {
    font-family: "Gruppo", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px;
}
.img-news {
    width: 440px;
}
.vjesti-description {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

:hover.vjesti-btn {
    border: 1px solid #78c795;
    background-color: #27B470;
}
.vjesti-par {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.allVjesti-btn {
    background-color: #f5f5f5;
    display: flex;
    color: #27B470;
    text-decoration: none;
    padding: 0px 0px 30px 150px;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
:hover.allVjesti-btn{
    color: #000;
}
.vjesti-show {
    color: #27B470;
}
.vjesti-link {
    text-decoration: none;
    color: #27B470;
}
.invisible-btn{
border: none;
background-color: #fff;
} 
.btn_tabs {
margin-left: 20px;
border: none;
background-color: #fff;
font-family: "Gruppo", sans-serif;
font-size: 30px;
font-weight: bold;
color: #27B470;
}
@media all and (max-width: 500px) {
.vjesti-header {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}    
.vjesti-three-all {
    width: 320px;
    margin: auto;
}

.img-three-vjesti {
    width: 300px;
}
.three-vjesti-title {
    font-size: 18px;
}
.vjesti-title {
    font-size: 18px;
    margin: 20px 20px;
}
.allVjesti-btn {
    margin: auto;
    width: 320px;
    padding: 0px 0px 20px 40px;
    font-size: 20px;
}
.img-news {
    width: 330px;
}
.vjesti-card {
    width: auto;
}
.vjesti-title {
    font-size: 20px;

}
.vjesti-description {
    font-size: 12px;
}
.vjesti-show {
    font-size: 12px;
}
.vjesti-par {
    font-size: 13px;
}
.vjesti-link {
    font-size: 13px;
}
.btn_tabs {
    margin-left: 10px;
    font-size: 25px;
    }
}
