.medija-all {
    display: flex;
    flex-wrap: wrap;
}
.medija-card {
    width: 400px;
    padding: 2%;
    flex-grow: 1;
    box-shadow: 5px 5px 5px #dddddd;
}
.medija-title {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.medija-date {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.video-news {
    max-width: 100%;
    
}
@media all and (max-width: 1280px) {
    .video-news {
        width: 100%;
        height: auto;
    }
    .medija-card {
        width: 400px;
    }
}
@media all and (max-width: 1024px) {
    .video-news {
        width: 100%;
        height: auto;
    }
    .medija-card {
        width: 300px;
    }
}
@media all and (max-width: 800px) {
    .video-news {
    width: 100%; 
    height: auto;  
    }
    .medija-title {
        font-size: 18px;
    }
    .medija-date {
        font-size: 15px;
    }
    }
@media all and (max-width: 500px) {
    .medija-all {
    flex-direction: column;
    align-items: center;
    }
    .medija-card {
        flex-grow: 2;
        box-shadow: 5px 5px 5px #dddddd
    }
    .video-news {
      width: 100%;
      height: auto;
    }
    .medija-title {
        font-size: 18px;
    }
    .medija-date {
        font-size: 15px;
    }
    }