.logoFoot {
    width: 150px;
    margin: 20px 30px;
    border-radius: 15px;
}
.creator{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-align: center;
}
.footerBox{
    display: flex;
    justify-content: space-between;
    background-color: #78c795;
    padding: 15px;
    border: solid 5px #fff;
}
.footer-items {
    align-self: center;
    padding: 30px;
}
.socialMedia{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.footer-par-email {
    text-decoration: none;
    color: #333;
}
.footer-par-adress {
    color: #333;
}
/* .footer-par-phone {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
} */
.portfolio {
    text-decoration: none;
    color: #333;
}
.media {
    padding: 5px;
}

@media all and (max-width: 500px) {
    .footerBox{
        flex-direction: column;
        width: auto;
    }
    .footer-items {
        text-align: center;
        font-size: 12px;
    }
    .footer-par-email {
        margin: 0px;
    }
    .footer-par-adress {
        margin: 0px;
    }
    .footer-par-phone {
        margin: 0px;
    }
    .creator{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .soc-media {
        display: flex;
        justify-content: center;
    }
    .socialMedia{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}