.logoFoot {
    width: 150px;
    margin: 20px 30px;
    border-radius: 15px;
}
.footer{
    display: flex;
}
.creator{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    text-align: center;
}
.footerBox{
    display: flex;
    justify-content: space-between;
    background-color: #78c795;
    padding: 15px;
    border: solid 5px #fff;
}
.socialMedia{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.footer-par-email {
    margin: 10px 0px 0px 20px;
    text-decoration: none;
    color: #4B5B66
}
.footer-par-adress {
    margin-left: 20px;
    text-decoration: none;
    color: #4B5B66
}
.footer-par-phone {
    margin-left: 20px;
    text-decoration: none;
    color: #4B5B66
}
.footer-portfolio {
    color: #4B5B66;
    text-decoration: none;
}