.logo {
  width: 300px;
  margin: 20px 30px;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav-left {
  margin-right: auto;
  padding: 15px;
}
.nav-right {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 30px 0px;
  background-color: #f5f5f5;
  background-size: contain;
  border-radius: 10px 0px 0px 10px;
}
.link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

:hover.link {
  color: #27B470;
}
.kontakt {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #78c795;
  box-shadow: 5px 5px 5px #C4C4C4;
  border-radius: 10px;
  padding: 25px 40px;
  margin-right: 50px;
  margin-left: 50px;
  height: 5px;
  display: flex;
  align-items: center;
}
:hover.kontakt {
  border: 1px solid #78c795;
  background-color: #27B470;
}  

@media all and (max-width: 500px) {
  body {
    margin: 0;
  }
  .nav-container {
  flex-direction: column;
  align-items: center;
  }
 .nav {
    justify-content: center;
    margin: auto;
  }
 .logo {
  margin-bottom: 0px;
  }  
  .link {
    font-size: 15px;
    margin-top: 3px;
  }
  .nav-right {
    display: flex;
    flex-direction: column;
    height: 180px;
    margin: 0px 0px 10px 0px;
    width: 100%;
    border-radius: 0px;

  } 
  .kontakt {
    font-size: 15px;
    padding: 15px 20px;
    margin-top: 5px;
  }
}


