.nav {
  display: flex;
  justify-content: flex-end;
}
.nav-left {
  margin-right: auto;
  padding: 15px;
}
.nav-right {
  height: 50px;
  margin: 50px 0px;
  border-start-start-radius: 20px;
}
.link {
  color: #000;
  text-decoration: none;
  background-color: #f5f5f5;
  padding: 25px 50px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
:hover.link {
  color: #27B470;
}
.kontakt {
  color: #fff;
  background-color: #78c795;
  padding: 10px 50px;
  border-radius: 10px;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
