.misija-header {
    font-family: "Gruppo", sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.image-people {
    width: 400px;
    margin-top: 30px;
}
.misija-text {
    margin: 0px 0px 0px 50px;
    align-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px; 
}
.misija-box {
    display: flex;
    margin: 0px 150px;
    padding: 20px;
}
.misija-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border: none;
    background-color: #fff;
    color: #27B470; 
}
@media all and (max-width: 1024px) {
    .image-people {
        width: 350px;
    }
    .misija-header {
        font-size: 30px;
        margin-bottom: 10px;
    } 
    .misija-text {
        margin: 0px;
        font-size: 12px; 
        width: 500px;
    }
    .misija-btn {
        font-size: 15px;
    }  
    }
@media all and (max-width: 800px) {
.misija-box {
    flex-direction: column;
    align-items: center;
} 
.image-people {
    width: 300px;
}
.misija-header {
    font-size: 30px;
    margin-bottom: 10px;
} 
.misija-text {
    margin: 0px;
    font-size: 12px; 
    width: 500px;
}
.misija-btn {
    font-size: 15px;
}  
}
@media all and (max-width: 500px) {
.misija-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-people {
    width: 200px;
    margin-top: 30px;
}
.misija-header {
    font-size: 25px;
    margin-bottom: 10px;
}
.misija-text {
    margin: 0px;
    font-size: 12px; 
    width: 300px;
}
.misija-btn {
    font-size: 15px;
}
}
